@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-components.css";
@import "components/badge.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";


body{
    font-family: "Josefin Sans", sans-serif;
    height: 1000vh;
    color: #2e363e;
}

.main-screen{
    padding:0px 25px;
}